section#nuestrosClientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "menuPrincipal menuPrincipal menuPrincipal"
    "clientes clientes clientes"
    "footer footer footer";
}
header#menuPrincipal {
    grid-area: menuPrincipal;
}

div#cliente1 {
    grid-area: clientes;
}
.cliente1__Imagen {
    margin: 10px;
}
footer {
    grid-area: footer;
}