@import "servicios.scss";
@import "nuestros_clientes.scss";
@import "blog.scss";
@import "contacto.scss";
@import "nosotros.scss";

/*-----RESET-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  li {
    list-style-type: none; }
  
  a {
    text-decoration: none;
    color: black; 
  font-weight: bold;}
  
  body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FEFFFF; }
  
    /*-----Menu-----*/
    
    .header__logo {
      width: 200px;
      height: auto;
      margin: 5px;
      justify-self: center; }
    
/*-----index-----*/
section#paginaPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "menuPrincipal menuPrincipal menuPrincipal"
  "carrousel carrousel carrousel"
  "servicios servicios servicios"
  "somos somos somos"
  "footer footer footer";
}

header {
  grid-area: menuPrincipal; }

section#carrousel {
  grid-area: carrousel; }

section#servicios {
  grid-area: servicios; }

section#somos {
  grid-area: somos; }

footer {
  grid-area: footer; }

section#servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  
}

div#divServicios {
  justify-content: center;
  padding: 20px;
  
}

.servicios__border {
  border: solid;
  color: black;
}
.servicios__images {
  width: 550px;
  height: auto;
  margin: 10px;
}

.servicios__padding {
  padding: 10px;
}

section#somos {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  background-color: silver;
}

div#divSomosimagen {
  justify-self: end;
  margin: 10px;
}
div#divSomostexto {
  font-weight: bold;
  width: auto;
  margin-bottom: 10px;
}
/*-----footer-----*/
footer {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  height: 150px;
  background-color: black;
  align-items: center;
}

.footer__Logo {
  width: 150px;
  height: 150px; }


div#divFooter {
  justify-self: center;
}

h1.footer__texto {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.footer__rrss {
  width: 30px;
  height: 30px;
}


